<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-Y APP</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
   <h1> CRUD-Y app is crudy</h1>
   <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Create a thing</button>
  </form> 

  <h2> Here is a list of things </h2>

<ul class="quotes">
  <!-- Loop through quotes -->
  <% for(var i = 0; i < quotes.length; i++) {%>
    <li class="quote">
      <!-- Output name from the iterated quote object -->
      <span><%= quotes[i].name %></span>:
      <!-- Output quote from the iterated quote object -->
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
</ul>
<div>
    <h2>Update the thing</h2>
    <button id="update-button">Update</button>
</div>

<div>
    <h2>Delete the thing</h2>
    <p>
      Delete a thing. Or don't. It's up to you.
    </p>
    <button id="delete-button">Delete the thing</button>
  </div>
  <div id="message"></div>
</body>
<script src="/main.js"></script>
</html>